@model BookStore.Models.Entities.Book

@{
    ViewData["Title"] = @Model.Title;
}

<div class="container">
<div class="row">
    <di class="col-md-8">
        <table class="table">
            <tr>
                <th>Title</th>
                <td>@Model.Title</td>

            </tr>
            <tr>
                <th>Title</th>
                <td>@Model.Title</td>

            </tr>
            <tbody class="table-group-divider">
            <tr>
                <th>ISBN</th>
                <td>@Model.ISBN</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>@Model.Author.Name</td>
            </tr>
            <tr>
                <th>About the author</th>
                <td>@Model.Author.Biography</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>@Model.Category.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Model.Price.ToString("C")</td>
            </tr>
        </table>
    </di>
    <div class="col-md-4">
        <img src="@Model.CoverImage" alt="Book Cover" class="img-fluid"/>
    </div>
</div>
</div>